{% extends 'base.html' %}

{% block content %}

<div class="page">
    <h1 class="page-title"> {{ destination.name }} </h1>
    <a href="{% url 'index' %}">Back to all destinations</a><br><br>
    <!-- IMAGE AND MAP -->
    <div class="row">
        <div class="col col-lg-8 col-sm-12">
             <img src="{{ destination.image }}"  class="img-fluid dest-image" width="100%" height="450px" alt="">
        </div>
        <div class="col col-lg-4 col-sm-12">
            <!-- MAP API WILL BE ADDED HERE -->
            <img src="{{ destination.image }}"  class="img-fluid map-api" width="100%" height="450px" alt="">
        </div>
    </div>
    <!-- END OF IMAGE AND MAP -->
    <!-- DETAILS -->
    <div class="row m-1 mt-5 dest-details">
        <h2 class="dest-details-name">{{ destination.name }}</h2> <br> <br> <br>
        <p class="dest-details-text"> <span class="dest-details-key">Location:</span> {{ destination.location }}</p>
        <p class="dest-details-text"> <span class="dest-details-key">Country:</span> {{ destination.country }}</p>
        <p class="dest-details-text"> <span class="dest-details-key">Currency:</span> {{ destination.currency }}</p>
    </div>
    <!-- END OF DETAILS -->
    <!-- REVIEWS -->
    <div class="row m-1 mt-5 dest-details">
        <div class="div-with-button row">
        <h2 class="col-10 dest-details-name"> Reviews for {{ destination.name }}</h2> <br> <br> <br>
        <a href="#Reviews" class=" col-2  add-review-button">Add a review</a>
        </div>
        
        {% for review in destination.review_set.all %}
        <p class="review-title">{{ review.title }} <span>{{ review.get_rating_display }}</span></p>
        <p class="review-content">{{ review.content }}</p>
        <!-- WILL ADD USER PROFILE PIC AND NAME HERE -->
        <p class="review-created">Written on {{ review.created_at }}</p> <br><br><br>
        <hr>
        {% endfor %}
    </div>
    <!-- END OF REVIEWS -->
    <!-- REVIEW FORM -->
    <a name="Reviews">
    <div class="row m-1 mt-5 dest-details">
      {% if user.is_authenticated %}
        <h2 class="dest-details-name"> Leave a review for {{ destination.name }}</h2> <br> <br> <br>
        <form method="post" action="{% url 'add_review' destination.id user.id %}">
        {% csrf_token %} {{ review_form.as_p }}
        {{ ratings_form.as_p }}
        <input type="submit" value="Add Review" class="submit-button" />
        </form>
        {% else %}
        <h2>Please log in to leave a review</h2>
        {% endif %}
    </div>
    </a>

</div>    


{% endblock %}