{% extends 'base.html' %}

{% block content %}


<div class="page">
    <h1 class="page-title">All Django Djourneys Destinations</h1>

<!-- SEARCH BOX -->
    <div class="search-div">
        <form method="POST" action="{% url 'search' %}" class="d-flex">
            {% csrf_token %}
            <input type="search" placeholder="Search by Country" class=" text-field" aria-label="Search" name="searched">
            <button type="submit" class="submit-button">Search </button>
        </form>
    </div><br>
    
<!-- END OF SEARCH BOX -->
<!-- CARDS -->
<div class="row card-group">
{% for destination in dest %}
    <div class="col-lg-4 col-sm-12 each-card">
        <a href="{% url 'detail' destination.id %}">
        <div class="card">
            <img src="{{ destination.image }}" class="card-img-top" height="250px" alt="">
            <div class="card-body">
                <h5 class="card-title dest-name"> {{ destination.name }}</h5>
                <span class="show-ratings">
			    <i class="fa fa-star{% if destination.averageReview < 0.5 %}-o{% elif destination.averageReview >= 0.5 and destination.averageReview < 1 %}-half-o {% endif %}" aria-hidden="true"></i>
			    <i class="fa fa-star{% if destination.averageReview < 1.5 %}-o{% elif destination.averageReview >= 1.5 and destination.averageReview < 2 %}-half-o {% endif %}" aria-hidden="true"></i>
			    <i class="fa fa-star{% if destination.averageReview < 2.5 %}-o{% elif destination.averageReview >= 2.5 and destination.averageReview < 3 %}-half-o {% endif %}" aria-hidden="true"></i>
			    <i class="fa fa-star{% if destination.averageReview < 3.5 %}-o{% elif destination.averageReview >= 3.5 and destination.averageReview < 4 %}-half-o {% endif %}" aria-hidden="true"></i>
			    <i class="fa fa-star{% if destination.averageReview < 4.5 %}-o{% elif destination.averageReview >= 4.5 and destination.averageReview < 5 %}-half-o {% endif %}" aria-hidden="true"></i>
                {% if destination.averageReview == 0 %}
                    <p><span class="card-text average-rating-index">No reviews yet</span></p>
                {% else %}
                   <p><span class="card-text average-rating-index">{{ destination.averageReview }} stars</span></p> 
                {% endif %}
                <p class="card-text dest-location">{{ destination.location }}</p>
                <p class="card-text dest-country">{{ destination.country }}</p>
            </div>
        </div>
        </a>
    </div>
{%  endfor %}
</div>
<!-- END OF CARDS -->
</div>
<br><br><br>

<!-- PAGINATION -->
<div class="pagination-div">
    {% if dest.has_previous %}
<a class="pagination" href="?page=1">&laquo First</a>
<a class="pagination" href="? page={{ dest.previous_page_number }}">Previous</a>
{% endif %}
<p  class="pagination"> Page {{ dest.number }} of {{ dest.paginator.num_pages }}</p>
{% if dest.has_next %}
<a class="pagination" href="?page={{ dest.next_page_number }}">Next</a>
<a class="pagination" href="?page={{ dest.paginator.num_pages }} ">Last &raquo</a>
{% endif %}
</div>
<!-- END OF PAGINATION -->

{% endblock %}