{% extends 'base.html' %}

{% block content %}

<div class="page">
    <h1 class="page-title">All Django Djourneys Destinations</h1>


<!-- CARDS -->
<div class="row card-group">
{% for destination in destinations %}
    <div class="col-lg-4 col-sm-12 each-card">
        <a href="{% url 'detail' destination.id %}">
        <div class="card">
            <img src="{{ destination.image }}" class="card-img-top" height="250px" alt="">
            <div class="card-body">
                <h5 class="card-title dest-name"> {{ destination.name }}</h5>
                <p class="card-text">Rating Coming Soon</p>
                <p class="card-text dest-location">{{ destination.location }}</p>
                <p class="card-text dest-country">{{ destination.country }}</p>
            </div>
        </div>
        </a>
    </div>
{%  endfor %}
</div>
<!-- END OF CARDS -->
</div>



{% endblock %}