{% extends "base.html" %}
{% block title %}Profile Page{% endblock title %}
{% block content %}
    <div class="row my-3 p-3">
        {% load static %}
        <h1>{{user.username}}'s Profile</h1>
        <img class="rounded-circle account-img" src="{% static user.profile.avatar.url|cut:'main_app/static/' %}" alt="" style="width: 130px; height: 100px;" />
        <div>{{ user.email }}</div>
       <div> {{ user.profile.bio }}</div>
       <div><a href="{% url 'profile_update' %}" class="btn btn-dark btn-lg">Update profile</a></div>
    </div>

{% endblock content %}
