{% extends "base.html" %}
{% block title %}Profile Page{% endblock title %}
{% block content %}
    <div class="row my-3 p-3">
        {% load static %}
        <h1>{{user.username}}'s Profile</h1>
        <img class="rounded-circle account-img" src="{% static user.profile.avatar.url|cut:'main_app/static/' %}" alt="" style="width: 130px; height: 100px;" />
        <div>{{ user.email }}</div>
       <div> {{ user.profile.bio }}</div>
       <div><a href="{% url 'profile_update' %}" class="btn btn-dark btn-lg">Update profile</a></div>
    </div>


    <!-- REVIEWS -->
    <h2 class="dest-details-name">Your reviews</h2> 
    {% for review in user.review_set.all %}
    <div class="row m-1 mt-5 dest-details">
        <h3 class="">{{ review.destination}}</h3> 
        <p class="review-title">{{ review.title }}</p>
        <p class="review-content">{{ review.content }}</p>
        <p class="review-content">Your rating: {{ review.rating }}</p>

        
        <a href="{% url 'delete_review' review.id %}">Delete</a>
        
    </div>
    
    
    {% endfor %}
    <!-- END OF REVIEWS -->
{% endblock content %}
