{% extends 'base.html' %}

{% block content %}

<div class="hero">
    <h1 class="home-title">Find your Destination</h1>
    <p class="home-subtitle">We’ve put together our very own travel quiz to help you with recommendations catered just for you. Seeking the great outdoors? No problem. Always wanted to become a solo traveler, yet unsure of where to start your adventures? We’ve got just the place. Click Start to discover where you should travel next and get inspired for the many more trips that will follow, too.</p><br><br>
    <a class="start" href="{% url 'quiz' %}" >Start</a> <br><br>
    <a class="show-me" href="{% url 'index' %}"> Or show me all destinations</a>
</div>
<div class="relative">
<img src="/static/images/forever-plane.gif" alt="icon plane flying" class="icon-plane" width="150px">
</div>


{% load static %}
{% endblock %}
