{% extends 'base.html' %}

{% block content %}

<div class="hero">
    <h1 class="home-title">Find your Destination</h1>
    <p class="home-subtitle">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis, quo veniam quibusdam explicabo ullam ipsam non nulla fugiat dicta at dignissimos suscipit! Magnam odio voluptatem tempora velit repellendus voluptatum corporis.</p>
    <button class="start">Start</button> <br><br>
    <a class="show-me" href="{% url 'index' %}"> Or show me all destinations</a>
</div>
<div class="relative">
<img src="/static/images/forever-plane.gif" alt="icon plane flying" class="icon-plane" width="150px">
</div>


{% load static %}
{% endblock %}
