{% extends 'base.html' %}

{% block content %}

<div class="page container">
    <h1 class="page-title"> Let's find your next Destination </h1>

    <div class="row quiz-row">
        <div class="col question-div">
            <p class="quiz-question">La La La La?</p>
        </div>
        <div class="col answer-div">
            <div class="all-answers-div">
                <a class="answer" href="#">Answer 1</a><br>
                <a class="answer" href="#">Answer 2</a>
            </div>
            
        </div>
    </div>
</div>

{% endblock %}

