html {
    background: red; /* fallback color */
    background: linear-gradient( to bottom, #DCE3E3, #f1d2dd,#EAD6C8, #DCE3E3);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    
    
}
body {
    background-color: transparent;
    font-family: 'Manrope', sans-serif;
    padding: 40px;
    height: 100%;
}

.logo {
    font-size: 34px;
    font-weight: 800;
}


.menu-links {
    font-size: 18px;
    margin-left: 10px;
    color: black;
    text-decoration: none;
    float: right;
}
.menu-links:hover {
    color: rgb(125, 125, 125);
}

.hero {
    padding-top: 18%;
    padding-bottom: 12%;
    text-align: center; 
}
.home-title {
    font-size: 70px;
    font-weight: 800;   
}

.home-subtitle {
    padding-top: 20px;
    font-size: 22px;  
}

.start {
    margin-top: 30px;
    background-color: rgb(0, 0, 0);
    padding: 15px 80px;
    color: white;
    font-size: 22px;
    border: none;
    border-radius: 45px;
    font-family: 'Manrope', sans-serif;
}
.link-destinations {
    color: black !important;
    text-decoration: none;
}
div.relative {
  position: relative;
  bottom: 550px;
  left: 145px;
}
.show-me {
    text-align: center;
    color: black;
    text-decoration: none;
}
.page-title {
    padding-top: 70px;
    padding-bottom: 40px;
    font-size: 55px;
    text-align: center;
    font-weight: 800;
}

.each-card {
    margin-top: 20px;
    
}
a {
    color: black;
    text-decoration: none;
}
a:hover {
    color: black;
}
.dest-name {
    font-size: 26px;
    font-weight: 600;
}
.dest-location {
    font-size: 18px;
}
.dest-country {
    font-size: 22px;
    font-weight: 500;
}
.dest-image {
    border-radius: 20px;
    height: 600px;
}
.map-api {
    border-radius: 20px;
}

.dest-details {
    background-color: white;
    padding: 40px;
    border-radius: 20px;
}
.dest-details-name {
    font-size: 40px;
    font-weight: 600;
}
.dest-details-text {
    font-size: 22px;
    font-weight: 600;
}
.dest-details-key {
    font-weight: 400;
}
.div-with-button {
    display: flex;
}
.add-review-button {
    background-color: black;
    border-radius: 15px;
    color: white;
    font-weight: 500;
    font-size: 22px; 
    padding: 1.5% 2%; 
    text-align: center;
}
.add-review-button:hover {
    color: white;
}
.review-title {
    margin-top: 30px;
    font-size: 24px;
    font-weight: 600;
}
.review-content {
    font-size: 22px;

}
/* CSS FOR DJANGO FORMS */
label {
    font-size: 22px;
}
textarea {
    width: 100%;
    font-size: 22px;
}
#id_title {
    height: 45px; 
}
#id_content {
    height: 120px;
}
.submit-button {
    background-color: black;
    padding: 20px 40px;
    border-radius: 15px;
    color: white;
    font-weight: 500;
    border: none;
}

footer {
    padding: 60px 40px;
    background-color: transparent;
}
.footer-links {
    text-decoration: none;
    color: black;
}